<!DOCTYPE html>
<html lang="en">
<html>
    <head>
        <title>Stocks</title>
        <link rel="stylesheet" href="/static/styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">           
      </html>
    <body>
    
        <div class="information-container">
            {% for stock in data["stock-data"] %}
            <div class="information">    
                <span>{{stock["symbol"]}}</span>
                <span>{{stock["name"]}}</span>
                <span>{{stock["currency"]}}</span>
                <span>{{stock["exchange"]}}</span>
                <span>{{stock["mic_code"]}}</span>
                <span>{{stock["country"]}}</span>
                <span>{{stock["type"]}}</span>
            </div>
            {% endfor %}
        </div>

<form action="/" method='post'>
</form>