<!DOCTYPE html>
<html lang="en">
<html>
    <head>
        <title>Stocks</title>
        <link rel="stylesheet" href="/static/styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">           
      </html>
    <body>
        <form action="/" method='post'>
            <label for="name1">Name:</label>
            <input type="text" name="name1">
            <label for="password">Password:</label>
            <input type="text" name="password">
            <input type="Submit" value="Submit">
        </form>
    
    <p><a class="signup" href="/signup">Sign up</a></p>

        