<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <link rel="stylesheet" href="./static/styles.css">
</head>
<body>
    <div class="main-container">
    <h1>Sign up for Stocks</h1>
    <form action="/post_user" method="POST">

        <input type="text" name="name" placeholder="Your name"> <p></p>
        <input type="password" name="password" placeholder="Enter a password"><p></p>
        <button class="submit-btn" type="submit">Sign up</button>

    </form>


    </div>  
</body>
</html>